<p><strong>GrowBook.org<strong> ist eine Webseite von Züchtern für Züchter.
Wir bieten ein <a href="{% url 'forum:index' }%">Forum</a>, einen
<a href="{% url 'wiki:index' %}">Wiki</a>, eine
<a href="{% url 'growlog:index' %}">Growlog Sektion</a> und einen
<a href="{% url 'strainbrowser:index' %}">Strain Browser</a>.</p>

<p>Wir sind <span class='message-important'>kein Shop</span> und auch
<span class='message-important'>keine Handelsplattform für Cannabis</span>.
Handeln mit Cannabis auf dieser Seite führt unweigerlich zu einer Sperre!</p>
