{% extends './formview.html' %}
{% load i18n %}

{% block content %}
<form class="login-form">
    {% csrf_token %}
    <input type="hidden" name="next" id="next" value="{{ next }}">
    <h1>{% translate "Register a new account" %}</h1>
    <table>
        <tr>
            <td>{% translate "Email:" %}</td>
            <td><input type='email' name='email' id='email' value="{{ email }}" required></td>
        </tr>
        <tr>
            <td>{% translate "Username:" %}</td>
            <td><input type='text' name='username' id='username' value="{{ username }}" required></td>
        </tr>
        <tr>
            <td>{% translate "Password:" %}</td>
            <td><input type='password' name='password0' id='password0' required></td>
        </tr>
        <tr>
            <td>{% translate "Confirm Password:" %}</td>
            <td><input type='password' name='password1' id='password1' required></td>
        </tr>
        <tr>
            <td>{% translate "First Name:" %}</td>
            <td><input type='text' name='first_name' id='first_name' value="{{ first_name }}"></td>
        </tr>
        <tr>
            <td>{% translate "Last Name:" %}</td>
            <td><input type='text' name='last_name' id='last_name' value="{{ last_name }}"></td>
        </tr>
    </table>
    <input type='submit' value="{% translate 'Sign up' %}">
</form>
{% enblock %}
