{% extends "../main.html" %}
{% load i18n %}
{% block content %}

<div class='buttonbox'>
    {% if breeder.homepage %}
    <span class='button'>
        <a href="{{ breeder.homepage }}">{% translate "Breeder Homepage" %}</a>
    </span>
    {% endif %}
    {% if breeder.seedfinder %}
    <span class='button'>
        <a href="{{ breeder.seedfinder }}">{% translate "Seedfinder.eu" %}</a>
    </span>
    {% endif %}

    {% if breeder.user_edit %}
    <span class='button'>
        <a href="{% url 'strainbrowser:breeder_edit' breeder.key %}">{% translate "Edit Breeder" %}</a>
    </span>
    {% endif %}
    {% if user_strain_add %}
    <span class='button'>
        <a href="{% url 'strainbrowser:strain_add' breeder.key %}">{% translate "Add a Strain" %}</a>
    </span>
    {% endif %}
</div><br>

{% if strain_list %}
<table class='overview-table'>
    <tr>
        <th>{% translate "Strain" %}</th>
        <th>{% translate "Added by" %}</th>
        <th>{% translate "Actions" %}</th>
    </tr>
    
    {% for strain in strain_list %}
    <tr>
        <td><a href="{% url 'strainbrowser:strain' breeder.key strain.key %}">{{ strain.name }}</a></td>            
        <td>{{ strain.added_by.name}} </td>
        <td>{% if strain.user_edit %}
            <span class='button'>
                <a href="{% url 'strainbrowser:strain_edit' breeder.key strain.key %}">{% translate "Edit" %}</a>
            </span>
        {% endif %} 
        {% if strain.user_translate %}
            <span class='button'>
                <a href="{% url 'strainbrowser:strain_translate' breeder.key strain.key language_code %}">
                    {% translate "Translate" %}
                </a>
            </span>
        {% endif %}
        {% if user_strain_delete %}
            <span class='button'>
                <a href="{% url 'strainbrowser:strain_delete' breeder.key strain.key %}">{% translate "Delete" %}</a>
            </span>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are currently no strains for that breeder!</p>
{% endif %}
{% endblock %}
