{% extends '../main.html' %}
{% load i18n %}

{% block content %}
{% if error_messages %}
<div class='message-error'>
    <ul>
    {% for error in error_messages %}
        <li>{{ error }}</span></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<form class='content-form' method='post'>
    {% csrf_token %}
    {{ form.primary_key }}
    <table>
        {{ form.name.as_table }}
        {{ form.key.as_table }}
        {{ form.homepage.as_table }}
        {{ form.seedfinder.as_table }}
    </table>
    <input type='submit' value="{% translate 'Add Breeder' %}">
</form>
{% endblock %}
