{% extends '../main.formview.html' %}
{% load i18n %}
{% block content %}
<h2>{% translate "Password reset send" %}</h2>
<p>{% blocktranslate %}We have mailed you instructions for setting your password,
if an account exists with your email you entered. You should recieve it 
shortly.{% endblocktranslate %}<br>
{% blocktranslate %}If you don't recieve an email, please make sure you entered
the email address you registered with and please check your spam 
folder.{% endblocktranslate %}</p>
{% endblock %}
