{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ language_code }}">
    {% include 'head.html' %}
    <body>
        {% include 'navbar.html' %}
        
        <div class='left-sidebar'>
            {% block left_sidebar %}
            {% endblock %}
        </div>
        
        {% if right_sidebar_enabled %}
        <div class='right-sidebar'>
            {% block right_sidebar %}
            {% endblock %}
        </div>
        {% endif %}
        
        <div class='content'>
            {% autoescape off %}
            <h1>{{ title }}</h1>
            {% endautoescape %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
