{% load i18n %}
<div class='navbar'>
    <a href="{% url 'index' %}">{% translate "Home" %}</a>
    <a href="{% url 'growlog:index' %}">{% translate "Growlogs" %}</a>
    <a href="{% url 'forum:index' %}">{% translate "Forum" %}</a>
    <a href="{% url 'wiki:index' %}">{% translate "Wiki" %}</a>
    <a href="{% url 'strainbrowser:index' %}">{% translate "Strains" %}</a>
    {% if user.is_authenticated %}
        <a href="{% url 'settings:index' %}">{% translate "Settings" %}</a>
        <a href="{% url 'logout' %}">{% translate "Log Out" %}</a>
    {% else %}
        <a href="{% url 'login' %}">{% translate "Log In" %}</a>
        <a href="{% url 'signup' %}">{% translate "Sign Up" %}</a>
    {% endif %}
</div>

