{% extends './main.html' %}
{% block info %}
    <p><i>mygrowbook</i> ist eine Webseite von Züchtern für Züchter. Wir
        bieten ein <a href="{% url 'forum:index' %}">Forum</a>, einen
        <a href="{% url 'wiki:index' %}">Wiki</a>, eine 
        <a href="{% url 'growlog:index' %}">Growlog Sektion</a> und einen
        <a href="{% url 'strains:index' %}">Sortenbrowser</a> an.</p>
    <p>Wir sind <span class='message-important'>kein Shop</span> und
        <span class='message-important'>keine Handelsplattform für 
        Cannabis</span>. Das Handeln von Cannabis auf dieser Seite führt
        unweigerlich zu einer Sperre!!!</p>
{% endblock %}
