{% extends "./main.formview.html" %}
{% load i18n %}
{% block content %}
<div class='login-form'>
    <form action="{% url 'login' %}" method='post'>
        {% csrf_token %}
        <input type='hidden' id='next' name='next' value="{{ next }}">
        {% if error %}<span class='message-error'>{{ error }}</span><br>{% endif %}
        <table>
            <tr><td>{% translate "Email:" %}</td><td><input name="email" id="email" type="email" required></td></tr>
            <tr><td>{% translate "Password:" %}</td><td><input name="password" id="password" type="password" required></td></tr>
        </table>
        <input type='submit' value="{% translate 'Log in' %}"><br><br>
        <a class='button' href="{% url 'password_reset_request' %}">{% translate "I forgot my password" %}</a><br>
        <a class='button' href="{% url 'signup' %}">{%translate "Sign up" %}</a>
    </form>
</div>
{% endblock %}

