{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ language_code }}">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Christian Moser">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class='header'>
            {% if topic %}
                <h1>MyGrowBook: {{ topic }}</h1>
            {% else %}
                <h1>MyGrowBook</h1>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
