{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% if language_code %}
<html lang="{{ language_code }}">
{% else %}
<html lang="{% translate 'en-US' %}">
{% endif %}
    <head>
        <meta charset="utf-8">
        <meta name="author" content="{% if author %}{{ author }}{% else %}Christian Moser{% endif %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class='header'>
            <h1>{% if topic %}MyGrowBook: {{ topic }}{% else %}MyGrowBook{% endif %}</h1>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
